<header class="header container">
  <img src="assets/desktop/logo.svg" alt="Pod logo" class="logo" />
</header>

<main class="container">
  <section class="signup flow-content">
    <h1 class="title">Publish your podcasts <span>everywhere.</span></h1>

    <p class="intro">
      Upload your audio to Pod with a single click. We’ll then distribute your
      podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and
      more!
    </p>

    <ul class="podcast-companies">
      <li><img src="/assets/desktop/spotify.svg" alt="Spotify" /></li>
      <li>
        <img src="/assets/desktop/apple-podcast.svg" alt="Apple podcasts" />
      </li>
      <li>
        <img src="/assets/desktop/google-podcasts.svg" alt="Google podcasts" />
      </li>
      <li><img src="/assets/desktop/pocket-casts.svg" alt="Pocket Casts" /></li>
    </ul>

    <form [formGroup]="form" class="signup-form" novalidate>
      <div class="signup-form__item">
        <label for="email" class="visuallyhidden">Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Email address"
          id="email"
          aria-label="email"
        />
      </div>

      <button class="btn" [disabled]="form.invalid" (click)="requestAccess()">Request Access</button>
    </form>

    <span class="signup-form__error" *ngIf="email.invalid">{{ emailControlInvalid() }}</span>
  </section>
</main>
