<header>
  <img src="assets/desktop/logo.svg" alt="Pod" class="logo" />
</header>

<main>
  <section class="signup container flow-content">
    <h1 class="title">Publish your podcasts <span>everywhere.</span></h1>

    <p>
      Upload your audio to Pod with a single click. We’ll then distribute your
      podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and
      more!
    </p>

    <ul class="podcast-companies">
      <li><img src="/assets/desktop/spotify.svg" alt="Spotify" /></li>
      <li>
        <img src="/assets/desktop/apple-podcast.svg" alt="Apple podcasts" />
      </li>
      <li>
        <img src="/assets/desktop/google-podcasts.svg" alt="Google podcasts" />
      </li>
      <li><img src="/assets/desktop/pocket-casts.svg" alt="Pocket Casts" /></li>
    </ul>

    <div class="form">
      <input type="email" name="email" placeholder="Email address" id="" />
      <button class="btn">Request Access</button>
    </div>
  </section>
</main>
