.btn {
  display: block;
  background-color: var(--clr-accent-400);
  border: 0;
  color: var(--clr-neutral-900);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  line-height: 2;
  padding: 0.642857em 0; // 9px
  border-radius: var(--br);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-accent-300);
}

.btn:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .btn {
    border: 5px solid var(--clr-neutral-700);
  }
}
