body {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-900);
}

.container {
  max-width: 90rem; // 1440px
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem; // 24px
}

.landing-page {
}

app-root {
  display: block;
}

header {
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.875rem;
}

main {
  margin-top: 3.8em; // 57px
}

.signup {
  text-align: center;
}

.title span {
  color: var(--clr-neutral-100);
}

.podcast-companies {
  --spacer: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.podcast-companies img {
  height: 1.0625rem; // 17px
  fill: var(--clr-neutral-400);
}

.signup .form {
  --spacer: 3rem;
}

.signup input[type='email'],
.signup .btn {
  display: block;
  width: 100%;
}

.signup .btn {
  margin-top: 1rem;
}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 1440px) {}
