body {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-900);
}

.podcast-landing-page {}

// app-root { see app.component.scss for styles!  }

.header {
  padding-top: 3.875rem; // damn you collapsing margins!
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: 3.8em; // 57px
}

.signup {
  text-align: center;
}

.title span {
  color: var(--clr-neutral-100);
}

.podcast-companies {
  --spacer: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.podcast-companies img {
  height: 1.0625rem; // 17px
  fill: var(--clr-neutral-400);
}

.signup .form {
  --spacer: 3rem;
}

.signup input[type='email'],
.signup .btn {
  display: block;
  width: 100%;
}

.signup .btn {
  margin-top: 1rem;
}

// tablet
@media screen and (min-width: 768px) {
  .header {
    padding-top: 2.4375rem;

    .logo {
      margin-left: 0;
      margin-right: 0;
    }
  }

  main {
    position: relative;
    margin-top: 9.5rem; // 152 px
    z-index: 0;
  }

  .signup {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--clr-neutral-900);
    padding-top: calc(var(--spacer) * 4);
  }

  .signup .title {
    order: 1;
  }
  .signup .intro {
    order: 2;
    width: 40ch;
  }
  .signup .form {
    order: 3;
  }
  .signup .podcast-companies {
    order: 4;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .signup .podcast-companies img {
    height: 29px;
  }

  footer {
    min-height: 250px;
    background-image: url('../assets/desktop/bg-pattern-dots.svg');
    background-repeat: no-repeat;
    background-position: 2.4375rem bottom;
  }
}

// @media screen and (min-width: 1440px) {}
