.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flow-content > * + * {
  margin-top: var(--spacer);
}

.container {
  max-width: 90rem; // 1440px
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem; // 24px
}

// tablet
@media screen and (min-width: 768px) {
  .container {
    padding: 0 2.4375rem; // 24px > 39px
  }
}

// desktop
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 10.3125rem; // 39px > 165px
  }
}
